
@{
    ViewBag.Title = "Doctor";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<!-- doctor background section -->

<div class="container-fluid">
    <img src="~/image/doc-search-01.jpg" class="wwt_img_fluid" alt="Responsive image">
    <p class="centered">Search your specialized doctor here</p>
</div>
<!-- doctor page image image background section -->
<!-- breadcrumb section -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Doctor</li>
    </ol>
</nav>

<!-- breadcrumb section -->
<!-- doctor page  middel section -->

<div class="container">
    <div class="middle_section_body">
        <div class="row">

            <div class="col-8">

                <div class="card_body card_display">
                    <div class="card_img_sec">
                        <img src="~/image/doctor_image.jpg" alt="">
                        @Html.ActionLink("View details", "Details", "Doctor_info", null, new { @class = "" })
                    </div>

                    <div class="card_text_sec ">
                        <div class="doc_text">
                            <label>Name :</label><label>John Doe</label>
                        </div>
                        <div class="doc_text">
                            <label>Specialized In : </label><label>Gynecologist</label>
                        </div>
                        <div class="doc_text">
                            <label>Available Hours : </label><label>6:00 PM - 9:00 PM</label>
                        </div>
                        <div class="doc_text">
                            <label>total Slots : </label><label> 20 </label>
                        </div>
                        <div class="doc_text">
                            <label>Status : </label><label>Online </label>
                        </div>
                        <div class="doc_text">
                            <button id="myBtn">Book a slot</button>
                        </div>
                    </div>
                </div>

                <div class="card_body card_display">
                    <div class="card_img_sec">
                        <img src="~/image/doctor_image.jpg" alt="">
                        @Html.ActionLink("View details", "Details", "Doctor_info", null, new { @class = "" })

                    </div>

                    <div class="card_text_sec ">
                        <div class="doc_text">
                            <label>Name :</label><label>John Doe</label>
                        </div>
                        <div class="doc_text">
                            <label>Specialized In : </label><label>Gynecologist</label>
                        </div>
                        <div class="doc_text">
                            <label>Available Hours : </label><label>6:00 PM - 9:00 PM</label>
                        </div>
                        <div class="doc_text">
                            <label>total Slots : </label><label> 20 </label>
                        </div>
                        <div class="doc_text">
                            <label>Status : </label><label>Online </label>
                        </div>
                        <div class="doc_text">
                            <button>Book a slot</button>
                        </div>
                    </div>
                </div>

                <div class="card_body card_display">
                    <div class="card_img_sec">
                        <img src="~/image/doctor_image.jpg" alt="">
                        @Html.ActionLink("View details", "Details", "Doctor_info", null, new { @class = "" })
                    </div>

                    <div class="card_text_sec ">
                        <div class="doc_text">
                            <label>Name :</label><label>John Doe</label>
                        </div>
                        <div class="doc_text">
                            <label>Specialized In : </label><label>Gynecologist</label>
                        </div>
                        <div class="doc_text">
                            <label>Available Hours : </label><label>6:00 PM - 9:00 PM</label>
                        </div>
                        <div class="doc_text">
                            <label>total Slots : </label><label> 20 </label>
                        </div>
                        <div class="doc_text">
                            <label>Status : </label><label>Online </label>
                        </div>
                        <div class="doc_text">
                            <button>Book a slot</button>
                        </div>
                    </div>
                </div>

                <div class="card_body card_display">
                    <div class="card_img_sec">
                        <img src="~/image/doctor_image.jpg" alt="">
                        @Html.ActionLink("View details", "Details", "Doctor_info", null, new { @class = "" })
                    </div>

                    <div class="card_text_sec ">
                        <div class="doc_text">
                            <label>Name :</label><label>John Doe</label>
                        </div>
                        <div class="doc_text">
                            <label>Specialized In : </label><label>Gynecologist</label>
                        </div>
                        <div class="doc_text">
                            <label>Available Hours : </label><label>6:00 PM - 9:00 PM</label>
                        </div>
                        <div class="doc_text">
                            <label>total Slots : </label><label> 20 </label>
                        </div>
                        <div class="doc_text">
                            <label>Status : </label><label>Online </label>
                        </div>
                        <div class="doc_text">
                            <button>Book a slot</button>
                        </div>
                    </div>
                </div>

                <div class="card_body card_display">
                    <div class="card_img_sec">
                        <img src="~/image/doctor_image.jpg" alt="">
                        @Html.ActionLink("View details", "Details", "Doctor_info", null, new { @class = "" })
                    </div>

                    <div class="card_text_sec ">
                        <div class="doc_text">
                            <label>Name :</label><label>John Doe</label>
                        </div>
                        <div class="doc_text">
                            <label>Specialized In : </label><label>Gynecologist</label>
                        </div>
                        <div class="doc_text">
                            <label>Available Hours : </label><label>6:00 PM - 9:00 PM</label>
                        </div>
                        <div class="doc_text">
                            <label>total Slots : </label><label> 20 </label>
                        </div>
                        <div class="doc_text">
                            <label>Status : </label><label>Online </label>
                        </div>
                        <div class="doc_text">
                            <button>Book a slot</button>
                        </div>
                    </div>
                </div>

                <div class="card_body card_display">
                    <div class="card_img_sec">
                        <img src="~/image/doctor_image.jpg" alt="">
                        @Html.ActionLink("View details", "Details", "Doctor_info", null, new { @class = "" })
                    </div>

                    <div class="card_text_sec ">
                        <div class="doc_text">
                            <label>Name :</label><label>John Doe</label>
                        </div>
                        <div class="doc_text">
                            <label>Specialized In : </label><label>Gynecologist</label>
                        </div>
                        <div class="doc_text">
                            <label>Available Hours : </label><label>6:00 PM - 9:00 PM</label>
                        </div>
                        <div class="doc_text">
                            <label>total Slots : </label><label> 20 </label>
                        </div>
                        <div class="doc_text">
                            <label>Status : </label><label>Online </label>
                        </div>
                        <div class="doc_text">
                            <button>Book a slot</button>
                        </div>
                    </div>
                </div>

                <div class="card_body card_display">
                    <div class="card_img_sec">
                        <img src="~/image/doctor_image.jpg" alt="">
                        @Html.ActionLink("View details", "Details", "Doctor_info", null, new { @class = "" })
                    </div>

                    <div class="card_text_sec ">
                        <div class="doc_text">
                            <label>Name :</label><label>John Doe</label>
                        </div>
                        <div class="doc_text">
                            <label>Specialized In : </label><label>Gynecologist</label>
                        </div>
                        <div class="doc_text">
                            <label>Available Hours : </label><label>6:00 PM - 9:00 PM</label>
                        </div>
                        <div class="doc_text">
                            <label>total Slots : </label><label> 20 </label>
                        </div>
                        <div class="doc_text">
                            <label>Status : </label><label>Online </label>
                        </div>
                        <div class="doc_text">
                            <button>Book a slot</button>
                        </div>
                    </div>
                </div>
                <!-- doctor page  pagination section -->
                <nav aria-label="...">

                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- doctor page  pagination section -->

            </div>
            <!-- doctor page  side part section -->
            <div class="col-4">
                <div class="side_body">
                    <div class="form-box ">
                        <input type="text" class="search-skill  search-field" name="search" placeholder="Doctor Name">
                        <button type="button" class="search-btn">Search</button>
                    </div>
                    <div class="heading">
                        <h3> Speciality</h3>
                    </div>
                </div>

                <div class="side_body">
                    <div class="specified_part_list">
                        <div class="specified_part_text">
                            <h3>Family Physician</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Homeopathic</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Dentist</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Dietitian</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Physiotherapy</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Pediatric</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>General surgery</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Orthopaedics</h3>
                        </div>

                        <div class="specified_part_text">
                            <h3>Otorhinolaryngologist / ENT</h3>
                        </div> <div class="specified_part_text">
                            <h3>Oncologist / Cancer Specialist</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Diabetologist</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Dermatology-Venereology</h3>
                        </div>
                        <div class="specified_part_text">
                            <h3>Obstetrics and gynecology</h3>
                        </div>
                        <button class="btn pt-5">see more</button>
                    </div>
                </div>




            </div>
        </div>

    </div>
</div>
           </div>

<!-- doctor page  side part section -->
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>

        </div>
        <div class="modal-body">
            <p>Please fill the form and do payment:</p>
            <label>Writr your problem :</label>
            <div class="doc_text">

                <textarea id="" cols="50" rows="5"></textarea>
            </div>
            <div class="doc_text">
                <label>Available Slots : </label><label> 09 </label>
            </div>
        </div>
        <div class="modal-footer">
            <div class="card_img_sec">
                @Html.ActionLink("Payment", "Index", "Payment", null, new { id = "close_modal" })
            </div>
        </div>
    </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    var close_modal = document.getElementById("close_modal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
    }
    close_modal.onclick = function () {
        modal.style.display = "none";
    }

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


